---
const {
  title,
  description = "Derailed lets you interact, communicate and video chat to your friends in ultra-speed giving you abilities unlike anyother platform",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:site_name" content="Derailed" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@derailedapp" />
    <meta property="twitter:creator:id" content="@derailedapp" />
    <meta property="twitter:creator" content="@derailedapp" />
    <meta property="twitter:creator:id" content="@derailedapp" />
  </head>
</html>
